body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: opacity 1s forwards ease-in;
	overflow-x: hidden;
}
a {
	color: white;
	text-decoration: none;
}
a:visited {
	color: $white;
}
button {
	cursor: pointer;
}

.container {
	width: 1170px;
}