$white :#fff;
$dark: #171614;
$primary: #34B2FF;
$primary-rgb: rgb(52, 178, 255);
$secondary: #074ECE;
$header-paragraph : #E1E1E1;
$footer-paragraph: #F5F5F5;
$gray: #666;
$gray-4: #444;
$gray-7: #777;
$subscribe-bg: #EBF7FF;
$success-rgb: rgb(163, 247, 130);
$danger-rgb: rgb(252, 61, 61);

$font-lato: 'Lato', sans-serif;

$breakpoint-lg : 1300px; 
$breakpoint-md : 900px;
