.features {
	display: flex;
	justify-content: space-between;
	&_mb {
		margin-bottom: 174px;
	}
}

.feature {
	width: 370px;
	height: 515px;
	padding: 60px 38px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.1);
	border-radius: 5px;

	&:hover {
		box-shadow: 0px 10px 30px rgba($primary-rgb, 0.2);
	}

	&__icon-bg {
		position: relative;
		width: 130px;
		height: 130px;
		border-radius: 50%;
		box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.08);
		margin-bottom: 35px;
	}
	&__icon-inner-bg {
		@include centering();
		width: 114px;
		height: 114px;
		border-radius: 50%;
		background-color: rgba($primary-rgb, 0.1);
		img {
			@include centering();
		}
	}
	&__title {
		@include font-lato-semibold;
	}
	&__content {
		margin: 30px 0;
	}
}

@media (max-width: $breakpoint-lg) {
	.features {
		flex-wrap: wrap;
		justify-content: center;
		&_mb {
			margin-bottom: 80px;
		}
	}
	.feature {
		margin: 10px;
	}
}

@media (max-width: $breakpoint-sm) {
	.feature {
		padding: 20px;
	}
}
@media (max-width: $breakpoint-xs) {
	.feature {
		&__icon-bg {
			width: 100px;
			height: 100px;
			margin-bottom: 10px;
		}
		&__icon-inner-bg {
			width: 95px;
			height: 95px;
			img {
				width: 50px;
				height: 50px;
			}
		}
	}
}
