.header {
	color: $white;
	&__top {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 165px;
	}

	&__main {
		width: 567px;
		height: 400px;
		margin-bottom: 381px;
	}
	&__title {
		font-family: $font-lato;
		font-size: 56px;
		font-weight: 900;
		line-height: 66px;
	}
	&__paragraph {
		color: $header-paragraph;
		padding: 40px 0;
	}
	&__get-started {
		display: flex;
	}
}

.navigation {
	display: flex;
	justify-content: space-between;
	width: 494px;
	&__link {
		position: relative;
		&:hover::after,
		&:focus::after {
			top: 32px;
			@include animated-underline($white, 0.4s);
		}
	}
}
.video {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 168px;
	height: 61px;

	&__icon {
		width: 61px;
		height: 61px;
		border-radius: 50%;
		background-color: $white;
		position: relative;
		&__play {
			width: 22px;
			height: 22px;
			@include centering();
		}
		&:focus, &:hover {
			box-shadow: 0 0 6px $white;
		}
	}
	&__text {
		font-weight: 500;
	}
}

@media (max-width: $breakpoint-lg) {
	.header {
		&__top {
			width: 100%;
			flex-wrap: wrap;
		}

		&__main {
			padding-left: 70px;
			margin-bottom: 280px;
		}
	}
}

@media (max-width: $breakpoint-md) {
	.header {
		&__top {
			.button {
				margin: 30px auto 0;
			}
			.navigation {
				flex: 1 370px;
				margin: 0 35px;
			}
		}
		&__free-quote {
			width: 100%;
		}

		&__main {
			margin-bottom: 200px;
		}
}
}

@media (max-width: $breakpoint-sm) {
	.header {
		&__top {
			margin-bottom: 25px;
		}
		&__main {
			width: 90%;
			margin-bottom: 100px;
			padding-left: 30px;
		}
		&__title {
			font-size: 30px;
			line-height: 35px;
		}
		&__paragraph {
			padding: 30px 0;
		}
	}
	.navigation {
		display: none;
	}
}
@media (max-width: $breakpoint-xs) {
	.header {
		&__get-started {
			flex-direction: column;
			align-items: flex-start;
		}
		&__title {
			font-size: 24px;
		}
		&__paragraph {
			padding: 10px 0;
		}
	}
	.video {
		padding-top: 5px;
	}
}